extensions:
  Memio\SpecGen\MemioSpecGenExtension: ~
  PhpSpecCodeCoverage\CodeCoverageExtension:
    format:
      - clover
    whitelist:
      - src/
    output:
      html: ../../public/coverage/persistence/
      clover: coverage.clover
